.title {
  background-color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: text-top;
  font-size: calc(10px + 2vmin);
  color: blue;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 400px;
    height: 500px;
  }
}


.h1{
  font-size: xx-large;
}



